{% extends 'layout.html.twig' %}

{% block title %}
    {{parent() }} - Accueil
{% endblock %}

{% block content %}
  <nav>
   Voici ma navBar secondaire qui extends de layout
  </nav>

{% endblock %}